*.pid
*.xml
*.csr
*.crt
*.key
*.xml.bak
*.xml.org
*.latest
*.pickle
OZW_Log.txt
home-assistant.*
home-assistant_*
*.db-journal
lib
deps
tts
firetv_conf.yaml
secrets.yaml
secrets.yaml~
known_devices.yaml
*.conf
plex.conf
phue.conf
ios.conf
pyozw.sqlite
.*
!/.gitignore
ip_bans.yaml
gitupdate.sh
configuration.yaml~
backup
home-assistant_v2.db*
zwave_device*
options.xml
samsung.sh
packages/owntracks.yaml
packages/camera_capture.yaml
packages/disabled
emulated_hue_ids.json
ext
conf
disabled
entity_registry.yaml
